body {
  margin: 0;
  background-color: rgb(35, 35, 35);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  font-family: "REM", sans-serif;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
ul,
li {
  width: inherit;
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  width: inherit;
  height: 80px;
  background-color: rgb(70, 70, 70);
  border-bottom: rgb(130, 17, 236) dotted 2px;
  z-index: 2;
}
ul {
  display: flex;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 32px;
}

a,
.link {
  color: rgb(130, 17, 236);
  letter-spacing: inherit;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: 50px;
  background-color: white;
}
.blankSpace {
  width: 45%;
  flex: 1;
}
.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  width: 150px;
  font-weight: 700;
  background-color: rgb(45, 45, 45);
  border-right: rgb(130, 17, 236) dotted 2px;
}
.daysContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: inherit;
}
.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 60px;
  margin-block: 20px;
  background-color: rgb(60, 60, 60);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dayText {
  position: absolute;
  color: rgb(130, 17, 236);
}

button {
  height: 50px;
}
.newTask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 150px;
  top: 90%;
  left: 95%;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: rgb(130, 17, 236);
}
.textTask {
  font-weight: 300;
}
